@using WebApplication_MVC
@model Squirrel


@using (Html.BeginForm("CreateAcc", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            @Html.Label(" Input LOGIN:   ")
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Login)  <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label(" Input PASSWORD:")
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Password) <br /><br />
        </div>
        </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Color of your TAIL?")
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Tail_Color) <br /><br />
        </div>
    </div>
        <div class="row">
            <p><input type="submit" value="CREATE" /></p>
        </div>
        }
